@import url(images.css);
@import url(lib.css);
@import url(global.css);
@import url(animations.css);

/* CONTENT */

section#main {
  height: 100vh;
  background-color: var(--default-bg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* HEADER */
header {
  display: block;
  /* margin-bottom: 3em; */
}

.logo-wrapper {
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.9);
}

.logo-wrapper .logo {
  margin: 0 auto;
}

.logo-wrapper span {
  font-family: var(--alter-font);
}

.logo-wrapper > div.logo .symbol::before {
  content: '> ';
  color: var(--default-red);
  font-size: 3.4em;
}

.logo-wrapper > div.logo .carrier::before {
  content: '_';
  color: var(--default-blue);
}

.logo-wrapper > div.logo > .carrier,
.text {
  font-size: 3em;
}

/* MAIN */
main {
  margin: 0 15px 0 20px;
  display: grid;
  height: 80vh;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}

.main-text {
  font-family: var(--body-font);
  font-weight: bold;
}

.main-text-wrapper {
  margin-bottom: 3em;
}

#input-submit-email {
  padding: 10px;
  border-radius: 10px;
  border: none;
  margin: 5px 5px 5px 0;
  height: 2em;
  width: 30vw;
}

.input-wrapper {
  position: relative;
  text-align: left;
}

.form {
  text-align: center;
}

.input-wrapper::after {
  content: '';
  position: absolute;
  bottom: 5px;
  left: 1px;
  right: 0;
  height: 6px;
  background: linear-gradient(
    to right,
    var(--default-green) 0%,
    var(--default-green) 30%,
    var(--default-red) 30%,
    var(--default-red) 60%,
    var(--default-yellow) 60%,
    var(--default-yellow) 70%,
    var(--default-blue) 70%,
    var(--default-blue) 100%
  );
  border-radius: 0 0 5px 5px;
  width: 99%;
}

#button-submit {
  padding: 10px 15px;
  color: white;
  font-family: var(--body-font);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--default-green);
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  width: 100%;
  cursor: pointer;
}

#button-submit:hover {
  background-color: var(--default-green-dark);
  box-shadow: 5px 5px 5px rgba(0, 0, 33, 0.5);
}

#button-submit:active {
  box-shadow: 5px 5px 5px rgba(0, 0, 33, 0.5) inset;
}

#button-submit:disabled {
  background-color: gray;
  color: rgb(184, 184, 184);
  cursor: not-allowed;
}

/* FOOTER */
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
}

footer span {
  margin: 10px;
}

a.blog-link {
  text-align: right;
  margin: 10px;
}

a.blog-link img {
  height: 35px;
}

/* MEDIA */
@media only screen and (min-width: 200px) {
  .logo-wrapper > div.logo .symbol::before {
    font-size: 1.2em;
  }

  .logo-wrapper > div.logo > .carrier,
  .text {
    font-size: 0.8em;
  }

  .main-text {
    font-size: 1.5em;
  }

  footer span {
    font-size: small;
  }

  #input-submit-email {
    width: 80vw;
    font-size: 18px;
  }

  .input-wrapper::after {
    width: 98%;
  }
}

@media only screen and (min-width: 360px) {
  .logo-wrapper > div.logo .symbol::before {
    font-size: 1.4em;
  }

  .logo-wrapper > div.logo > .carrier,
  .text {
    font-size: 1em;
  }
}

@media only screen and (min-width: 414px) {
  .logo-wrapper > div.logo .symbol::before {
    font-size: 2.4em;
  }

  .logo-wrapper > div.logo > .carrier,
  .text {
    font-size: 2em;
  }
}

@media only screen and (max-width: 900px) {
  .logo-wrapper {
    background-color: rgba(0, 0, 33, 0.5);
  }

  footer {
    background-color: rgba(0, 0, 33, 0.5);
  }
}

@media only screen and (min-width: 1366px) {

  .logo-wrapper {
    background-color: transparent;
  }

  footer {
    background-color: transparent;
  }

  footer span {
    font-size: medium;
  }

  .main-text {
    font-size: 2.6em;
    margin-bottom: 2em;
  }

  .main-text-wrapper {
    width: 60%;
    margin-bottom: 15px;
  }

  main {
    align-content: center;
    justify-content: start;
    justify-items: start;
    margin-left: 10em;
  }

  .form {
    display: inline-flex;
    align-items: center;
  }

  #button-submit {
    margin: 0;
    margin-left: 20px;
    font-size: 26px;
    padding: 15px 30px;
  }

  #input-submit-email {
    font-size: 20px;
    width: 30vw;
  }

  .input-wrapper::after {
    width: 99%;
  }
}

@media only screen and (min-width: 1536px) {
  .logo-wrapper > div.logo .symbol::before {
    font-size: 3em;
  }

  .logo-wrapper > div.logo > .carrier,
  .text {
    font-size: 2.6em;
  }

  .main-text {
    font-size: 5em;
  }

  .main-text-wrapper {
    margin-bottom: 15px;
  }

  #button-submit {
    margin: 0;
    margin-left: 20px;
    font-size: 52px;
    padding: 15px 30px;
  }

  #input-submit-email {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1920px) {
  .main-text {
    font-size: 48px;
  }

  #button-submit {
    font-size: 30px;
    padding: 18px 50px;
  }

  #input-submit-email {
    font-size: 26px;
  }
}
